@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap');  /*importado*/

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;      /* definindo a altura do body em 100% do viewport, que está no html*/
    box-sizing: border-box;     /* mantem o conteudo no body*/
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #22D4FD;

}
.apresentacao{              /* flexbox*/
    margin: 10% 15%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;          /* espaçamento entre os filhos*/


}
.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family:'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: "Krona One", sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.apresentacao__links__botao{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #22D4FD;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #F6F6F6;
    font-family:'Montserrat', sans-serif;
}

.apresentacao__links__botao:hover{
    background-color: #3122fd79;
}

.apresentacao__foto__perfil {
    width: 20%;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    padding: 4px;
    }
